RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
#admin
RewriteRule ^courier$ admin/courier.php [NC,L]
RewriteRule ^inventorylist$ admin/item.php [NC,L]
RewriteRule ^userlist$ admin/user.php [NC,L]
RewriteRule ^user_address$ admin/user_address.php [NC,L]
RewriteRule ^user_shipment$ admin/user_shipment.php [NC,L]
RewriteRule ^status$ admin/status.php [NC,L]
RewriteRule ^role$ admin/user_type.php [NC,L]
RewriteRule ^addusertype$ admin/add_user_type.php [NC,L]
RewriteRule ^addcourier$ admin/addcourier.php [NC,L]
RewriteRule ^adduser$ admin/adduser.php [NC,L]
RewriteRule ^additem$ admin/additem.php [NC,L]
RewriteRule ^addstatus$ admin/addstatus.php [NC,L]
RewriteRule ^mail$ user/mail.php [NC,L]
RewriteRule ^status_update/([^/\.]+)?$ admin/status_edit.php?id=$1 [NC,L]
RewriteRule ^courier_update/([^/\.]+)?$ /admin/courier_edit.php?id=$1 [NC,L]
RewriteRule ^inventory_update/([^/\.]+)?$ /admin/edit.php?id=$1 [NC,L]
RewriteRule ^user_address_update/([^/\.]+)?$ /admin/user_address_edit.php?id=$1 [NC,L]
RewriteRule ^user_update/([^/\.]+)?$ /admin/user_edit.php?id=$1 [NC,L]
RewriteRule ^user_shipment_update/([^/\.]+)?$ /admin/user_shipment_edit.php?shipment_id=$1 [NC,L]
RewriteRule ^user_type_update/([^/\.]+)?$ /admin/user_type_edit.php?id=$1 [NC,L]
RewriteRule ^delete/([^/\.]+)?$ /admin/delete.php?id=$1 [NC,L]
RewriteRule ^courier_delete/([^/\.]+)?$ /admin/courier_delete.php?id=$1 [NC,L]
RewriteRule ^status_delete/([^/\.]+)?$ /admin/status_delete.php?id=$1 [NC,L]
RewriteRule ^user_shipment_delete/([^/\.]+)?$ /admin/user_shipment_delete.php?shipment_id=$1 [NC,L]
RewriteRule ^user_type_delete/([^/\.]+)?$ /admin/user_type_delete.php?id=$1 [NC,L]
#user
RewriteRule ^address$ user/address.php [NC,L]
RewriteRule ^shipment$ user/shipment.php [NC,L]
RewriteRule ^inventory$ user/inventory.php [NC,L]
RewriteRule ^update$ user/update.php [NC,L]
RewriteRule ^address_update/([^/\.]+)?$ user/address_edit.php?id=$1 [NC,L]
RewriteRule ^shipment_payment/([^/\.]+)?$ user/shipment_payment.php?shipment_id=$1 [NC,L]
RewriteRule ^shipment_received/([^/\.]+)?$ user/shipment_received.php?shipment_id=$1 [NC,L]
RewriteRule ^address_delete/([^/\.]+)?$ user/address_delete.php?id=$1 [NC,L]
RewriteRule ^submit$ user/submit_shipment.php [NC,L]
RewriteRule ^add_item$ user/add_item.php [NC,L]
RewriteRule ^add_address$ user/add_address.php [NC,L]
RewriteRule ^submit_shipment$ user/submit_shipment.php [NC,L]
RewriteRule ^thankyou/([^/\.]+)?$ user/thankyou.php?shipment_id=$1 [NC,L]
RewriteRule ^inventory_delete/([^/\.]+)?$ user/inventory_delete.php?product_id=$1 [NC,L]
#account
RewriteRule ^login$ account/login.php [NC,L]
RewriteRule ^register$ account/register.php [NC,L]
RewriteRule ^home$ main.php [NC,L]
